.navcontainer {
  width: 100%;
  background-color: white;
  border-bottom: 3px solid #e8e8e8;
  height: 85px;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 83vw;
  align-items: center;
  margin: auto;
  padding-top: 25px;
}

.h1 {
  width: fit-content;
  font-size: 30px;
  margin: auto 0;
  color: #0290ff;
}

.navTitle {
  text-decoration: none;
  color: #919191;
  font-size: 15px;
  padding: 0 5px;
}

.links {
  display: flex;
  align-items: center;
}

.avatar {
  color: dodgerblue;
  padding: 10px;
  border: 1px solid #e8e8e8;
  border-radius: 50%;
}
